<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PluginGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter,Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/PluginGUI.exe.log4.config"/>
      </factoryAdapter>
    </logging>
  </common>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <PluginGUI.Properties.Settings>
      <setting name="PluginSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedPlugin" serializeAs="String">
        <value />
      </setting>
    </PluginGUI.Properties.Settings>
  </userSettings>
</configuration>
